---
import Logo from '../../images/pinup_fin_.png';
---

<div>
  <img src={Logo.src} alt="Unholy Maiden Crew Logo" />
</div>

<style>
  div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
  }

  img {
    width: 70%;
    height: auto;
  }
</style>